

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #00000030;
}
li:nth-child(even) {
    background: #bc0a0a;
}

h3,
p {
    margin: 0;
}

body {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;  /* Add this */
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;  /* Add some padding */
    box-sizing: border-box;  /* Include padding in width */
}
                
h3 {
    margin-bottom: 20px;  /* Space below title */
}
            
div {
    width: 100%;  /* Full width */
    margin-bottom: 20px;  /* Space between forms */
}
            
form {
    display: flex;
    flex-direction: column;  /* Stack form elements */
}
            
label {
    margin-bottom: 5px;  /* Space below label */
}
            
input {
    margin-bottom: 10px;  /* Space below input */
    padding: 5px;
}
            
button {
    text-align: center;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 5px;  /* Space above button */
}


