

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #00000030;
}
li:nth-child(even) {
    background: #bc0a0a;
}


p {
    margin: 0;
}

body {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;  
    box-sizing: border-box; 
    border: 2px solid rgb(2, 14, 176);
    border-radius: 5px;
}
                
h3 {
    margin-bottom: 20px; 
}

            
div {
    width: 100%;  
    margin-bottom: 20px;  
}
            
form {
    display: flex;
    flex-direction: column;  
}
            
label {
    margin-bottom: 5px;  
}
            
input {
    margin-bottom: 10px;  
    padding: 5px;
}
            
button {
    text-align: center;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 5px;  
}



